{% extends 'layouts/base.html' %}

{% block title %}Python Demo{% endblock %}

{% block content %}

    <div class="index">
      <h1>Python Demo (on App Engine)</h1>
      <ul>
        <li><a href="https://github.com/tatwell/python-demo">Github Repository</a></li>
        <li><a href="https://www.linkedin.com/in/klenwell">LinkedIn Profile</a></li>
      </ul>

      <h2>Code Samples</h2>
      <ul>
        <li><a href="/demo/consistency/eventual">App Engine Datastore Consistency</a></li>
        <li><a href="/summer">Subset Sum Problem</a></li>
      </ul>
    </div>

{% endblock %}
